.main_Home_container{
    width: 100%;
    height: 7404;
    background-image: url('../../../public/Assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
