.main_slider {
    position: relative;
    bottom: 4rem;
  .slideImgDiv {
    margin-top: 4rem;
    img {
      width: 200px;
      height: 200px;
      padding: 15px;
      border-radius: 38px;
    }
  }
}
